
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      font-family: monospace, sans-serif;
      background:#081b21  
    }

     .container{   
        display: flex;
        flex-direction: column;  
        perspective: 150rem;
        margin: 2em auto;
        height: 40rem;
        width: 450px;
        max-width: 500px;
        box-shadow: none;
        background: none;
        background-color:whitesmoke;
        display: flex;
 /* Horizontal centering */
        align-items: center;
        border-radius: 20px;
        padding-top:none; 
     }

     .container:hover{
      box-shadow:0 0 5px whitesmoke,
     0 0 25px whitesmoke; 
     }

     .class{
      display: flex;
      margin-top:10px;;
     }

     h1{
      margin-left: 50px;
      padding-top: 110px;
     }
    
     button{
      margin-left: 73px;
      margin-top: 20px;
      padding:15px;
      background: #081b21;  
      border:2px solid #081b21;
      border-radius: 10px;
      color: whitesmoke;
      text-indent: 2px;
      letter-spacing: 1px;
      font-weight:bolder;
     }

     button:hover{
      box-shadow:0 0 5px #081b21,
      0 0 25px #081b21, 0 0 25px #081b21, 0 0 25px #081b21; 
     }

     fieldset{
      border:none;
     }

     input{
      margin-left: 10px;
      background: transparent;
      color:black;
      border:1px solid black; 
      height:2em;
      border-radius: 5px;
     }

     

